#
# Copyright (c) 2023 Analog Devices
#
# SPDX-License-Identifier: Apache-2.0
#

# General Configuration
CONFIG_RUNTIME_NMI=y
CONFIG_ARM_MPU=y
CONFIG_ARM_TRUSTZONE_M=y
CONFIG_KERNEL_MEM_POOL=y
CONFIG_GEN_ISR_TABLES=y
CONFIG_BUILTIN_STACK_GUARD=y
CONFIG_EXTRA_EXCEPTION_INFO=y
CONFIG_INIT_ARCH_HW_AT_BOOT=y

CONFIG_CONSOLE=y
CONFIG_SEMIHOST=y
CONFIG_SEMIHOST_CONSOLE=y
CONFIG_BUILD_OUTPUT_HEX=y
