#
# Copyright (c) 2023 Analog Devices, Inc
#
# SPDX-License-Identifier: Apache-2.0
#

if SERIAL

config UART_INTERRUPT_DRIVEN
	default y

endif # SERIAL

if COVERAGE

config GEN_ISR_TABLES
	default y

config GEN_SW_ISR_TABLE
	default y

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 4096

config PRIVILEGED_STACK_SIZE
	default 4096

config ISR_STACK_SIZE
	default 4096

config TEST_EXTRA_STACK_SIZE
	default 4096

endif # COVERAGE

config HAS_COVERAGE_SUPPORT
	default y
