#
# Copyright (C) 2023 Analog Devices, Inc
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_ADSP_SC83X
	select SOC_ADSP_SC834 if BOARD_ADSP_SC83X_ADSP_SC834
	select SOC_ADSP_SC834W if BOARD_ADSP_SC83X_ADSP_SC834W
	select SOC_ADSP_SC835 if BOARD_ADSP_SC83X_ADSP_SC835
	select SOC_ADSP_SC835W if BOARD_ADSP_SC83X_ADSP_SC835W
